<h2>Shipping time &amp; cost per country</h2>
<h2>Belgium</h2>
<table class="shipping__table-delivery">
    <thead>
        <tr>
            <th></th>
            <th>Shipping Time</th>
            <th>Cost</th>
        </tr>
    </thead>  
    <tbody>
        <tr>
            <td>Bike</td>
            <td>1-2 Business Days</td>
            <td>Free Shipping</td>
        </tr>
        <tr>
            <td>Non-Bike</td>
            <td>1 Business Day</td>
            <td>
                <p>
                    €11 for parcels up to 3kg. <br />
                    €23 for parcels of more than 3kg.
                </p>
            </td>
        </tr>
    </tbody>
</table>
<h2></h2>
<h2>Netherlands</h2>
<table class="shipping__table-delivery">
    <thead>
        <tr>
            <th></th>
            <th>Shipping Time</th>
            <th>Cost</th>
        </tr>
    </thead>  
    <tbody>
        <tr>
            <td>Bike</td>
            <td>1-3 Business Days</td>
            <td>Free Shipping</td>
        </tr>
        <tr>
            <td>Non-Bike</td>
            <td>1 Business Day</td>
            <td>
                <p>
                    €10 for parcels up to 3kg. <br />
                    €23 for parcels of more than 3kg.
                </p>
            </td>
        </tr>
    </tbody>
</table>
<h2>
    <br />
    Luxembourg
</h2>
<table class="shipping__table-delivery">
    <tbody> 
    <thead>
        <tr>
            <th></th>
            <th>Shipping Time</th>
            <th>Cost</th>
        </tr>
    </thead>
        <tr>
            <td>Bike</td>
            <td>1-2 Business Days</td>
            <td>Free Shipping</td>
        </tr>
        <tr>
            <td>Non-Bike</td>
            <td>1 Business Day</td>
            <td>
                <p>
                    €10 for parcels up to 3kg. <br />
                    €23 for parcels of more than 3kg.
                </p>
            </td>
        </tr>
    </tbody>
</table>
<h2>Germany</h2>
<table class="shipping__table-delivery">
    <thead>
        <tr>
            <th></th>
            <th>Shipping Time</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Bike</td>
            <td>2-3 Business Days</td>
            <td>Free Shipping</td>
        </tr>
        <tr>
            <td>Non-Bike</td>
            <td>2 Business Days</td>
            <td>
                <p>
                    €18 for parcels up to 3kg. <br />
                    €30&nbsp;for parcels of more than 3kg.
                </p>
            </td>
        </tr>
    </tbody>
</table>
<h2>
    <br />
    Austria
</h2>
<table class="shipping__table-delivery">
    <thead>
        <tr>
            <th></th>
            <th>Shipping Time</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Bike</td>
            <td>2-4&nbsp;Business Days</td>
            <td>Free Shipping</td>
        </tr>
        <tr>
            <td>Non-Bike</td>
            <td>2-3 Business Days</td>
            <td>
                <p>
                    €18 for parcels up to 3kg. <br />
                    €30 for parcels of more than 3kg.
                </p>
            </td>
        </tr>
    </tbody>
</table>
<h2>
    <br />
    France
</h2>
<table class="shipping__table-delivery">
    <thead>
        <tr>
            <th></th>
            <th>Shipping Time</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Bike</td>
            <td>2-4&nbsp;Business Days</td>
            <td>Free Shipping</td>
        </tr>
        <tr>
            <td>Non-Bike</td>
            <td>2-3 Business Days</td>
            <td>
                <p>
                    €30 for parcels up to 3kg. <br />
                    €47 for parcels of more than 3kg.
                </p>
            </td>
        </tr>
    </tbody>
</table>
<h2>
    <br />
    Italy
</h2>
<table class="shipping__table-delivery">
    <thead>
        <tr>
            <th></th>
            <th>Shipping Time</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Bike</td>
            <td>3-7&nbsp;Business Days</td>
            <td>Free Shipping</td>
        </tr>
        <tr>
            <td>Non-Bike</td>
            <td>2-3 Business Days</td>
            <td>
                <p>
                    €30 for parcels up to 3kg. <br />
                    €47&nbsp;for parcels of more than 3kg.
                </p>
            </td>
        </tr>
    </tbody>
</table>
<h2></h2>
