{% style %}

modal-opener[data-modal="#pdp-size-guide"] button {
    width: fit-content;
    padding: 0;
    justify-self: flex-end;
    grid-row-start: 1;
    grid-row-end: 1;
    color: {{ block.settings.link_color }};
}

modal-opener[data-modal="#pdp-size-guide"] {
    display: grid;
}

modal-opener .size-guide__string {
    justify-self: flex-start;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    flex-flow: row nowrap;
}

{% endstyle %}

{% if first_variant.option2 != null %}
    <modal-opener class="product-popup-modal__opener no-js-hidden variant-picker__option-name uppercase" data-modal="#pdp-size-guide">
        <span class="size-guide__string">
            <p class="size-guide__label">{{ 'products.product.size' | t }}: </p>
            <p class="size-guide__selected-size">{{ first_variant.option2 }}</p>
        </span>
        <button class="underlined-link uppercase">{{ 'products.product.size_guide' | t }}</button>
    </modal-opener>
{% endif %}